body {
  font-family: arial, sans-serif;
}

nav a {
  color: black;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; 
  padding: 10px 15px 10px 15px;
  background-color: lightgray;
}

a:visited {
  color: dimgray;
}

article {
  max-width: 750px;
  margin: 1em;
}

h1 {
  font-size: 2em;
  padding: 10px;
  background: yellow;
}

h2 {
  color: darkgray;
}

img {
  width: 100px;
  height: auto;
}

article a {
  color: black;
  text-decoration: none;
}

h3 + p {
  color: darkgray;
}

p.flat-button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  font-family: monospace;
  text-align: center; 
}

footer {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: lightgrey;
}